body {
	background-color: hsl(0,0%,95%);
}

#description {
	margin: auto;
	width: 60%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-shadow: hsla(0,0%,40%,0.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
	text-align: left;
}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow: hsla(0,0%,40%,0.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

#exp {
	text-align: center;
	font-size: 15px;
}

#footer,#ins {
	font-size: 10px;
}

#footer {
	text-align: center;
}

hr {
	color: white;
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
}

h1 {
	text-align: center;
}

input {
	height: 17px;
	border: 1px solid white;
	border-radius: 5px;
	margin-left: 2px;
	-webkit-box-shadow: 0px 0px 15px rgba(128, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px rgba(128, 0, 0, 0.1);
	box-shadow: 0px 0px 15px rgba(128, 0, 0, 0.1);
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-shadow: hsla(0,0%,40%,0.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

pre {
	font-size:11px;
	text-align: left;
	line-height: 75%;
}

a:link {
	color: #800000;
}

a:visited {
	color: #696969; 
}
